<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增属性')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">

    <form class="form-horizontal m" id="addForm"  style="border: 0px solid red;">


        <div class="form-group">
            <label class="col-sm-3 control-label">优先级：</label>
            <div class="col-sm-9">
                <input type="text" name="priority" class="form-control" placeholder="请输入优先级">
            </div>
        </div>

        <div class="form-group appCode">
            <label class="col-sm-3 control-label">应用：</label>
            <div class="col-sm-9">
                <select type="text" name="appCode" id="appCode" class="form-control" >
                </select>
            </div>
        </div>
        <div class="form-group templateKey">
            <label class="col-sm-3 control-label">模板：</label>
            <div class="col-sm-9">
                <select type="text" name="templateKey" id="templateKey" class="form-control" >
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">属性类别：</label>
            <div class="col-sm-9">
                <select id="addAttributeType" name="attributeType" style="width: 100%" class="form-control">
                    <option value="1" >单个模板属性</option>
                    <option value="0" >公共属性</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">属性名称：</label>
            <div class="col-sm-9">
                <input type="text" name="propertyName" class="form-control" placeholder="请输入属性名称">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">属性key：</label>
            <div class="col-sm-9">
                <input type="text" name="propertyKey" class="form-control" placeholder="请输入属性key">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">属性类型：</label>
            <div class="col-sm-9">
                <select  name="propertyType" class="form-control" >
                    <option value="varchar">varchar 字符串数据</option>
                    <option value="text">text 长文本数据</option>
                    <option value="tinyint">tinyint (1 byte) 小整数值</option>
                    <option value="int">int (4 bytes) 大整数值</option>
                    <option value="bigint">bigint (8 bytes) 极大整数值</option>
                    <option value="double">double (8 bytes) 双精度浮点数值</option>
                    <option value="decimal">decimal 小数值</option>
                    <option value="date">date (yyyy-MM-dd) 日期值</option>
                    <option value="time">time (HH:mm:ss) 时间值</option>
                    <option value="year">year (yyyy) 年份值</option>
                    <option value="datetime">datetime (yyyy-MM-dd HH:mm:ss) 日期时间</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">属性长度：</label>
            <div class="col-sm-9">
                <input type="text" name="columnLength" class="form-control" placeholder="请输入属性长度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">常量：</label>
            <div class="col-sm-9">
                <select name="variableKey" id="variableKey" class="form-control" >

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">标签类型：</label>
            <div class="col-sm-9">
                <select  name="labelType" id="labelType" class="form-control" >
                    <option value="input">input:普通文本框</option>
                    <option value="textarea">textarea:大文本框</option>
                    <option value="editor">editor:富文本</option>
                    <option value="select">select:下拉框</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">标签默认值：</label>
            <div class="col-sm-9">
                <input type="text" name="defaultValue" class="form-control" placeholder="请输入标签默认值">
            </div>
        </div>

        <div class="form-group" style="height: 100%; border:1px #3300FF dashed;padding-top: 15px;padding-bottom:15px;">
            <label class="col-sm-3 control-label">显示标签html：</label>
            <div class="col-sm-9" id="labelTypeDiv" >

            </div>
        </div>

    </form>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<th:block th:include="include :: summernote-js" />

<script type="text/javascript">

    var appCode = getQuery("appCode");
    common.loadApp("appCode",appCode);

    var templateKey = getQuery("templateKey");
    common.loadTemplate("templateKey",templateKey,appCode);

    $("#appCode").on("change",function () {
        var appCode = $("#appCode").val();
        common.loadTemplate("templateKey","",appCode);
    })

    var prefix = ctx + "m/property";
    common.loadVariable("variableKey","");


    function loadLabelType(type){
        var html="";
        if (type=='input'){
            html =  "<input type=\"text\"  class=\"form-control\" >";
        }else if (type=='textarea'){
            html =  "<textarea  class=\"form-control\" ></textarea>";
        }else if (type=='select'){
            html = selectHtml("","");
        }else if (type=='editor'){
            html = "<div class=\"summernote\"></div>";
        }
        $("#labelTypeDiv").html(html);
        if (type=='editor'){
            $('.summernote').summernote({
                lang: 'zh-CN'
            });
        }
    }
    function selectHtml(key,value) {
        var propertyHtml="<div style='margin-top:5px;display: flex;line-height:34px;' class='propertyGroupValue' > ";
        if(value!=null && value!=''){
            propertyHtml+="属性名称：<input class='form-control key' placeholder='中文名称' onkeyup=\"value=value.replace(/[^\\w\u4E00-\u9FA5]/g,'')\" value='"+key+"' style='width:31%;' /> ";
        }else{
            propertyHtml+="属性名称：<input class='form-control key' placeholder='中文名称' onkeyup=\"value=value.replace(/[^\\w\u4E00-\u9FA5]/g,'')\" style='width:31%;' /> ";
        }
        if (key!=null && key!=''){
            propertyHtml+="属性值:<input class='form-control value' placeholder='对应值' onKeyUp=\"value=value.replace(/[\\W]/g,'')\" value='"+value+"'  style='width:31%;' /> ";
        }else{
            propertyHtml+="属性值:<input class='form-control value'  placeholder='对应值' onKeyUp=\"value=value.replace(/[\\W]/g,'')\"  style='width:31%;' /> ";
        }
        propertyHtml+="&nbsp;";
        propertyHtml+="<button type='button' class='btn-xs btn-success' onclick='addPropertyButton(\""+"labelTypeDiv"+"\")' >添加</button>";
        propertyHtml+="&nbsp;";
        propertyHtml+="<button type='button' class='btn-xs btn-warning' onclick='$(this).parent().remove();' >删除</button>";
        propertyHtml+="</div>";
        return propertyHtml;
    }
    function addPropertyButton(divClass) {
        $("#"+divClass).append(selectHtml('',''));
    }
    loadLabelType('input')
    $("#labelType").on("change",function () {
        var aa = $("#labelType").val();
        loadLabelType(aa);
    });


    $("#addForm").validate({
        onkeyup: false,
        rules: {
            priority:{
                required: true,
                maxlength:4,
                number:true
            },
            propertyName:{
                required: true,
                minlength: 2,
                maxlength:32
            },
            propertyKey:{
                required: true,
                minlength: 2,
                maxlength:32
            },
            columnLength:{
                required: true,
                maxlength:4,
                number:true
            },labelValue:{
                maxlength:255,
            },appCode:{
                required: true,
            },templateKey:{
                required: true,
            }
        },
        messages: {

        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#addForm").serializeJson();
            var select = $(".propertyGroupValue");
            if (select){
                var json="";
                for(var i=0;i<select.length;i++){
                    var key =  $(select[i]).find(".key").val();
                    var value =  $(select[i]).find(".value").val();
                    if (json==''){
                        json = "'"+key+"':'"+value+"'";
                    }else{
                        json =json+ ",'"+key+"':'"+value+"'";
                    }
                }
                if (json!=""){
                    data.lebelValue= "{"+json+"}";
                }else{
                    data.lebelValue= "";
                }
            }

            $.operate.save(prefix + "/insert", data,null,true);
        }
    }
</script>
</body>
</html>