<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>仓储管理系统介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <style>
        .h100{
          height: 100%;
        }
        .tubiao{
            height: 100px;
            width: 100px;
        }
        .divdd{
            width: 130px;margin: 0px auto;display: inline-table;
            padding-right: 65px;
        }
        table tr th{
            text-align: center;
        }
    </style>
</head>

<body class="gray-bg h100" >
    <div class="row h100"  style="width: 80%;margin: 0px auto;">
        <div style="text-align: center;margin-top: 50px;">

            欢迎使用 mars 动态配置系统

        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
</body>
</html>
