<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.fashionbrot.mapper.DynamicDataMapper">


    <resultMap type="com.github.fashionbrot.entity.DynamicDataEntity" id="dynamicDataMap">
            <result property="id" column="id"/>
            <result property="envCode" column="env_code"/>
            <result property="appCode" column="app_code"/>
            <result property="templateKey" column="template_key"/>
            <result property="status" column="status"/>
            <result property="dataDesc" column="data_desc"/>
            <result property="priority" column="priority"/>
            <result property="releaseType" column="release_type"/>
            <result property="createId" column="create_id"/>
            <result property="createDate" column="create_date"/>
            <result property="updateId" column="update_id"/>
            <result property="updateDate" column="update_date"/>
            <result property="delFlag" column="del_flag"/>
    </resultMap>

    <resultMap type="com.github.fashionbrot.dto.DynamicDataDTO" id="dynamicDataDtoMap">
            <result property="id" column="id"/>
            <result property="envCode" column="env_code"/>
            <result property="appCode" column="app_code"/>
            <result property="templateKey" column="template_key"/>
            <result property="status" column="status"/>
            <result property="dataDesc" column="data_desc"/>
            <result property="priority" column="priority"/>
            <result property="releaseType" column="release_type"/>
            <result property="createId" column="create_id"/>
            <result property="createDate" column="create_date"/>
            <result property="updateId" column="update_id"/>
            <result property="updateDate" column="update_date"/>
            <result property="delFlag" column="del_flag"/>
    </resultMap>
    <sql id="allSql">
        id,env_code,app_code,template_key,status,data_desc,priority,release_type,create_id,create_date,update_id,update_date,del_flag
    </sql>

    <select id="pageReq" parameterType="com.github.fashionbrot.req.DynamicDataReq" resultType="com.github.fashionbrot.entity.DynamicDataEntity" >
        select
        a.id,
        a.env_code,
        a.app_code,
        a.template_key,
        a.status,
        a.data_desc,
        a.priority,
        a.release_type,
        a.create_id,
        a.create_date,
        a.update_id,
        a.update_date,
        b.json,
        b.temp_json

        from m_dynamic_data a
        left join m_dynamic_data_value b on a.id = b.data_id and b.del_flag=0
        where a.del_flag=0
        <if test="envCode!=null and envCode!=''">
            and a.env_code=#{envCode}
        </if>
        <if test="appCode!=null and appCode!=''">
            and a.app_code=#{appCode}
        </if>
        <if test="templateKey!=null and templateKey!=''">
            and a.template_key=#{templateKey}
        </if>
        order by a.priority asc

    </select>

    <select id="pageReq2" parameterType="com.github.fashionbrot.req.DynamicDataReq" resultType="java.util.Map" >
        select
        a.id,
        a.env_code as envCode,
        a.app_code as appCode,
        a.template_key as templateKey,
        a.status,
        a.data_desc as dataDesc,
        a.priority,
        a.release_type as releaseType,
        DATE_FORMAT(a.update_date,"%Y-%m-%d %H:%i:%s") as updateDate,
        c.user_name as updateName,
        b.json,
        b.temp_json

        from m_dynamic_data a
        left join m_dynamic_data_value b on a.id = b.data_id and b.del_flag=0
        left join sys_user c on c.id = a.create_id and c.del_flag=0
        where a.del_flag=0
        <if test="envCode!=null and envCode!=''">
            and a.env_code=#{envCode}
        </if>
        <if test="appCode!=null and appCode!=''">
            and a.app_code=#{appCode}
        </if>
        <if test="templateKey!=null and templateKey!=''">
            and a.template_key=#{templateKey}
        </if>
        order by a.priority asc

    </select>
    

</mapper>