<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.fashionbrot.mapper.SysMenuRoleRelationMapper">


    <resultMap type="com.github.fashionbrot.entity.SysMenuRoleRelationEntity" id="sysMenuRoleRelationMap">
            <result property="id" column="id"/>
            <result property="menuId" column="menu_id"/>
            <result property="roleId" column="role_id"/>
            <result property="createDate" column="create_date"/>
    </resultMap>

    <resultMap type="com.github.fashionbrot.dto.SysMenuRoleRelationDTO" id="sysMenuRoleRelationDtoMap">
            <result property="id" column="id"/>
            <result property="menuId" column="menu_id"/>
            <result property="roleId" column="role_id"/>
            <result property="createDate" column="create_date"/>
    </resultMap>
    <sql id="allSql">
        id,menu_id,role_id,create_date
    </sql>

    

</mapper>