<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.fashionbrot.mapper.SystemConfigMapper">


    <resultMap type="com.github.fashionbrot.entity.SystemConfigEntity" id="systemConfigMap">
            <result property="id" column="id"/>
            <result property="appCode" column="app_code"/>
            <result property="envCode" column="env_code"/>
            <result property="modifier" column="modifier"/>
            <result property="fileName" column="file_name"/>
            <result property="fileDesc" column="file_desc"/>
            <result property="fileType" column="file_type"/>
            <result property="json" column="json"/>
            <result property="tempJson" column="temp_json"/>
            <result property="status" column="status"/>
            <result property="createDate" column="create_date"/>
            <result property="updateDate" column="update_date"/>
            <result property="delFlag" column="del_flag"/>
    </resultMap>


    <sql id="allSql">
        id,app_code,env_code,modifier,file_name,file_desc,file_type,json,temp_json,status,create_date,update_date,del_flag
    </sql>

    <sql id="allSql2">
        a.id,a.app_code,a.env_code,a.modifier,a.file_name,a.file_desc,a.file_type,a.json,a.temp_json,a.status,a.create_date,a.update_date,a.del_flag
    </sql>

    

</mapper>